<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="socialshare">
      <ion-icon name="md-share"></ion-icon>
      <ion-label>SocialShare</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="audio">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="audio">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>   
    
  </ion-tab-bar>
 
</ion-tabs>