<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Slider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="slideOpts" [scrollbar]='scrollbar' #slider (ionSlideDidChange)="this.manejarSlider();" [hidden]="!slideVisible">
    <ion-slide>
      <h1>Slider 1</h1>
      <img src="../../../assets/images/slider1.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis!</p>
    </ion-slide>

    <ion-slide>
      <h1>Slider 2</h1>
      <img src="../../../assets/images/slider2.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis!</p>
    </ion-slide>

    <ion-slide>
      <h1>Slider 3</h1>
      <img src="../../../assets/images/slider3.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis!</p>
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="slideOptsV" [scrollbar]='scrollbar' #sliderV (ionSlideDidChange)="this.manejarSliderV();" [hidden]="slideVisible">
    <ion-slide>
      <h1>Slider X1</h1>
      <img src="../../../assets/images/slider1.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis!</p>
    </ion-slide>

    <ion-slide>
      <h1>Slider X2</h1>
      <img src="../../../assets/images/slider2.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis!</p>
    </ion-slide>

    <ion-slide>
      <h1>Slider X3</h1>
      <img src="../../../assets/images/slider3.jpg" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis!</p>
    </ion-slide>
  </ion-slides>

  <ion-card-content>
    <ion-item>XXXXXXXXXXX</ion-item>
  </ion-card-content>


</ion-content>