<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Modificar usuarioX</ion-title>
  
      <ion-buttons slot="end">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
  
      <ion-card-header>
        <img [src]="elPost.avatar">
        <ion-card-title>{{elPost.first_name}} {{elPost.last_name}} </ion-card-title>
        <ion-card-subtitle>{{elPost.email}}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <form (ngSubmit)="recuperarDatos(authForm.value)" [formGroup]="authForm">
  
          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-input type="text" [(ngModel)]="datosModificados.email" formControlName="email" name="email"
              placeholder="E-mail"></ion-input>
          </ion-item>
  
        
          <div *ngIf="submitted && !datosModificados.email.email">
            <ion-item>
              <p style="color:red">¡Revisa el email!</p>
            </ion-item>
          </div>
  
          <ion-item>
            <ion-icon name="paper"></ion-icon>
            <ion-input type="text" [(ngModel)]="datosModificados.first_name" formControlName="first_name"
              name="first_name" placeholder="Nombre"></ion-input>
          </ion-item>
  
          <div *ngIf="submitted">
            <ion-item *ngIf="!datosModificados.first_name">
              <p style="color:red">El nombre es obligatotio!</p>
            </ion-item>
          </div>
  
          <ion-item>
            <ion-icon name="paper"></ion-icon>
            <ion-input type="text" [(ngModel)]="datosModificados.last_name" formControlName="last_name" name="last_name"
              placeholder="Apellidos"></ion-input>
          </ion-item>
  
          <div *ngIf="submitted">
            <ion-item *ngIf="!datosModificados.last_name">
              <p style="color:red">¡El apellido es obligatotio!</p>
            </ion-item>
          </div>
  
  
          <button ion-button type="submit" full>Modificar</button>
        </form>
  
      </ion-card-content>
  
    </ion-card>
  
  
  
  
  </ion-content>