<ion-header>
  <ion-toolbar>
    <ion-title>tab2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>TAB 2</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusamus corporis quam assumenda ducimus placeat nesciunt soluta adipisci, voluptatem ipsum fugiat maxime! Facilis doloremque dignissimos fugit debitis aliquid porro earum.</p>
<p>Perferendis dignissimos veritatis reiciendis a, eligendi mollitia alias iusto eos ipsum sapiente voluptatum dolor dolores consectetur numquam similique in ipsa facilis quia? Neque suscipit ipsam dolores nesciunt nam magnam voluptates.</p>
<p>Blanditiis accusamus distinctio vel iusto inventore perspiciatis? Saepe ea error quas sapiente tempora fuga minus sint molestias deleniti ab provident nostrum, illo quia neque ut ad esse voluptatem velit consequatur.</p>
<p>Error nulla incidunt similique exercitationem provident commodi expedita, debitis obcaecati ea dicta hic, dolorum at maxime earum qui et unde? Dolores quasi placeat amet ad accusantium iusto iure incidunt enim.</p>
</ion-content>
