/* HOME y HEADER */
* { box-sizing: border-box; }

.menu-icon {
  top: 0;
  width: 100%;
  height: 18%;
  z-index: 99;
  position: fixed; 
  background-image: url('/assets/images/bg-home.png');
  background-color:  rgb(19, 19, 19); 
  background-position: top left;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0; padding: 0;

  .menu-title {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: center;
    h1 { font-size: 50px; text-transform: uppercase; }
  }

  .menu-busqueda {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 42px;
    text-align: center;
  }
}


.home {
  margin: 0; padding: 0;
}

.div-general {
    width: 90%;
    margin: auto;
  }

 .home-content {
    padding-top: 120px;
        }
  
  .news-slider {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .tit-h2 {
    color: #fff;
    border-bottom: solid 1px #fff;
    margin-bottom: 15px;
  
    h2 {
      margin-bottom: 0; 
    }
    
  }
  
  .tit-h3 {
    color: #fff;
    border-bottom: solid 1px #fff;
    margin-bottom: 15px;
  
    h3 {
      margin-bottom: 0; 
      font-size: 13px;
      color: #fff;
    }
  }
  
  .news-img {
    height: 135px;
    width: 100%; 
    overflow: hidden;
  }
  .news-tit {
    height: 43px;
    color:#fff;
    font-size: 12px;
    overflow: hidden;
  }
  
    .div-listado {
    .div-lista {
      margin-bottom: 10px;
      display: flex;
  /*     background-color: rgb(32, 32, 32);  
   */    background-image: linear-gradient( rgb(32, 32, 32),  rgb(0, 0, 0));
    }
  
    p { font-size: 12px; }
    div p:first-child {font-size: 14px; text-transform: uppercase; border-bottom: 1px solid #fff; margin-bottom: 0; }
    .div-listado-img { width: 25%; margin-right: 1em;  margin-bottom: 0; padding-bottom: 0; }
    .div-listado-txt { width: 70%; margin-right: 1em; }
  }
  
  .btn-ver {
    background-color: transparent;
    border: solid 1px #0cd1e8;
    color: #0cd1e8;
    padding: 0.5em 1em;
    float: right;
    border-radius: 15px;
  }




/* LISTADOS PAGE */

ion-item {
    --background: rgb(37, 37, 37);
    margin: 6px;
    padding: 0;
}

.div-general {
    width: 90%;
    margin: auto;
}

.blanco {
    color: aliceblue;
}

.btn-mini {
    margin: 13px 0 13px 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.search {

    --background: rgb(240, 238, 238);
    --cancel-button-color: rgb(37, 37, 37);
}

.swipe {
    width:32px;
    }

    

/* DETALLES PAGE */

.contenido-ficha {
  margin: 0
}

.ficha-img {
width: 25%;
}

.ficha-descripcion {
 width: 75%
}

.ficha-sinopsis  {
  font-size: 12px; 
  font-weight: 100;
}


/* GALERIA LISTADO */
.galeria-lista {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
}

.galeria-item {
  width: 30%;
  margin:5px;
}
.galeria-txt {
  margin-top:-10px;
  font-size: 12px; 
  font-weight: 100;
  text-align: center;
}

/* GENERAL CSS*/ 
toast-container {
    --background: rgb(73, 54, 54);
    text-align: center;
    --width:90%;
}


/* ESPECIALES */
.triangulo {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #007bff transparent transparent transparent; 
}