<ion-content class="ion-no-padding">
  <div class="home">

    <div class="menu-icon">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <ion-button> <ion-icon name="cog"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div class="menu-busqueda">
          <ion-searchbar [(ngModel)]="busqueda" class="search" (click)="buscar(busqueda)"></ion-searchbar>

      </div>
    </div>

    <div class="div-general home-content">


      <div class="galeria-lista">
        <div class="galeria-item" *ngFor="let item of listaAnimes">
          <div class="galeria-img"><img [src]="item.attributes.posterImage.large"></div>
          <div class="galeria-txt">
            <p>{{item.attributes.canonicalTitle}}</p>
          </div>
        </div>
      </div>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando animes...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
</div>
</ion-content>

<ion-footer>
    <ion-item>
        <ion-label>Selecciona una categoría</ion-label>
        <ion-select interface="popover" [(ngModel)]="selectorCategorias" (ionChange)="cargarCategoria(event)">
          <ion-select-option value="adventure">Aventuras</ion-select-option>
          <ion-select-option value="action">Acción</ion-select-option>
          <ion-select-option value="comedy">Comedia</ion-select-option>
          <ion-select-option value="drama">Drama</ion-select-option>
          <ion-select-option value="future">Futurista</ion-select-option>
          <ion-select-option value="fantasy">Fantasia</ion-select-option>
          <ion-select-option value="horror">Horror</ion-select-option>
        </ion-select>
      </ion-item>
</ion-footer> 