
ion-item {
    --background: rgb(37, 37, 37);
    margin: 6px;
    padding: 0;
}

.div-general {
    width: 90%;
    margin: auto;
  
}

.blanco {
    color: aliceblue;
}

.btn-mini {
    margin: 13px 0 13px 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}