<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Categoría {{this.api.categoriaActiva}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-general">
  <ion-list>
    <ion-item-sliding *ngFor="let item of listaAnimesCat">

      <ion-item class="blanco">
        <ion-avatar slot="start"><img [src]="item.attributes.posterImage.large"></ion-avatar>
        <ion-label>
          <h3>{{item.attributes.canonicalTitle}}</h3>
        </ion-label>
        <ion-icon name="arrow-round-back" class="blanco"></ion-icon>
      </ion-item> 

      <ion-item-options>
        <ion-item-option color="danger" expandable class="btn-mini">
          <ion-icon slot="icon-only" name="md-trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary" expandable class="btn-mini">
          <ion-icon slot="icon-only" name="md-create"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas usuarios...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

</ion-content>